* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#links {
    list-style-type: none;
    display: flex;
    float: left;
    justify-content: space-between;
}
#links :hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    padding: 30px;
    font-size: 18px;
    color: green;
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: gold;
    color: green;
    padding: 20px
}
.section {
    display: block;
} 
h2 {
    font-size: 38px;
    font-family: ;
    text-align: center;
    padding-top: 4rem;
}
.span {
    color: gold;
}
#content {
    padding-top: 2rem;
    margin-left: 17%;
    margin-right: 17%;
    font-size: 18px;
    opacity: 0.8;
}
.wrapper {
    display: flex;
    margin-top: ;
    justify-content: space-evenly;
}
.wrapper div {
    border-radius: 10px;
    width: 390px;
    margin-top: 7%;
    padding: 30px;
    background-color: rgba(172, 255, 47, 0.11)
}
.wrapper h3 {
    color: rgb(23, 155, 23);
    font-size: 25px;
}
.wrapper p {
    font-size: 17px;
    opacity: 0.8;
    padding-top: 1.5rem;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(16, 18, 41);
    height: 300px;
    margin-top: 10%;
}
.footer div {
    width: 400px;
    justify-content: space-around; 
    padding-top: 40px;
}
.col1 h2 {
    color: rgb(243, 207, 48);
    font-size: 25px;
}
.col1 p {
    color: White;
    font-size: 16px;
    opacity: 0.8;
}
.col2 h3 {
    color: rgb(243, 207, 48);
}
.col2 ul {
    list-style-type: none;
    padding-top: 20px;
    opacity: 0.8;
}
.col2 a{
    font-size: 16px;
    color: white
}
.col3 h3 {
    color: rgb(243, 207, 48);
}
.col3 p {
    color: white;
    opacity: 0.8;
    font-size: 16px;
    padding-top: 20px;
}
.icons span {
    color: rgb(243, 207, 48);
    padding-right: 40px;
}
.icons :not(:hover) {
    opacity: 0.5;
}