* {
    box-sizing: border-box;
    margin: 0;
}
.nav {
    display: flex;
    background-color: gold;
    justify-content: space-between;
}
.nav h1 {
    color: rgb(7, 117, 7);
    padding-top: 10px;
}
#links {
    list-style-type: none;
    display: flex;
    padding: 20px;
    justify-content: left;
}
#links a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}
#links :active {
    text-decoration: underline;
}
#links li {
    padding: 0 10px;
}
#links :hover {
    text-decoration: underline;
}
@media (max-width: 56em) {
    .nav {
        display: block;
    }
    #links {
        display: block;
    }
}
.wrapper {
    height: 300px;
    box-shadow: 1px 1px 10px green;
    width: 400px;
    margin: 10% 35%;;
    border-radius: 30px;
    display: block;
}
form {
    text-align: center;
}
.wrapper h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: bold;
    text-decoration: underline 1px;
    color: green
}
input {
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 227, 227);
    margin: 10px;
    height: 25px;
    width: 280px;
    outline: none;
    flex: auto;
}
button {
    border-radius: 7px;
    margin-top: 20px;
    padding: 4px 20px;
    font-weight: bold;
    border: none;
    background-color: green;
    color: white;
}
button:hover {
    box-shadow: 0 0 1px 2px green;
    opacity: 0.8;
}
@media (max-width: 42em) {
    .wrapper {
        width: 300px;
        margin-left: 20%;
    }
    input {
        width: 200px;
    }
}
.footer {
    display: flex;
    justify-content:center;
    background-color: rgb(16, 18, 41);
}
.footer div {
    width: 300px;
    justify-content: space-between; 
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}
.col1 h2 {
    color: gold;
    font-size: 25px;
}
.col1 p {
    color: white;
    padding-top: 20px;
    font-size: 16px;
    opacity: 0.7;
}
.col2 h3 {
    color: gold;
    opacity: 0.8;
}
.col2 ul {
    list-style-type: none;
    padding-top: 20px;
    opacity: 0.7;
}
.col2 a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.col3 h3 {
    color: gold;
    opacity: 0.8;
}
.col3 p {
    color: white;
    opacity: 0.8;
    font-size: 16px;
    padding-top: 20px;
}
.icons span {
    color: rgb(243, 207, 48);
    padding-right: 40px;
}
.icons :hover {
    opacity: 0.5;
}
@media (max-width: 42em) {
    .footer {
        display: block;
        padding-top: 20px;
        height: auto;
    }
    .footer div {
        padding: 20px;

    }
}
@media (max-width: 56em) {
    .footer {
        display: flex;
        flex-wrap: wrap
    }
}