* {
    box-sizing: border-box;
    margin: 0;
}
.nav {
    display: flex;
    background-color: gold;
    justify-content: space-between;
}
.nav h1 {
    color: rgb(7, 117, 7);
    padding-top: 10px;
}
#links {
    list-style-type: none;
    display: flex;
    padding: 20px;
    justify-content: left;
}
#links a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}
#links li {
    padding: 0 10px;
}
#links :hover {
    text-decoration: underline;
}
@media (max-width: 56em) {
    .nav {
        display: block;
    }
    #links {
        display: block;
    }
}
section {
    margin: 12%;
    text-align: center;
}
.footer {
    display: flex;
    justify-content:center;
    background-color: rgb(16, 18, 41);
}
.footer div {
    width: 300px;
    justify-content: space-between; 
    padding-top: 30px;
    text-align: center;
    padding-bottom: 2rem
}
.col1 h2 {
    color: gold;
    font-size: 25px;
    opacity: 0.8;
}
.col1 p {
    color: white;
    padding-top: 20px;
    font-size: 16px;
    opacity: 0.7;
}
.col2 h3 {
    color: gold;
    opacity: 0.8;
}
.col2 ul {
    list-style-type: none;
    padding-top: 20px;
    opacity: 0.7;
}
.col2 a {
    text-decoration: none;
}
.col2 a{
    font-size: 16px;
    color: white;
}
.col3 h3 {
    color: gold;
    opacity: 0.8;
}
.col3 p {
    color: white;
    opacity: 0.8;
    font-size: 16px;
    padding-top: 20px;
}
.icons span {
    color: gold;
    padding-right: 40px;
}
.icons :hover {
    opacity: 0.5;
}
@media (max-width: 42em) {
    .footer {
        display: block;
        padding-top: 20px;
        height: auto;
    }
    .footer div {
        padding: 20px;
    }
}
@media (max-width: 56em) {
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
}