* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#links {
    list-style-type: none;
    display: flex;
    float: left;
    justify-content: space-between;
}
#links a {
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    color: green;
    cursor: pointer;
    font-weight: bold;
}
#links a:hover {
    text-decoration: underline;
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: gold;
    color: green;
    padding: 20px;
}
@media (max-width: 56em) {
    .nav {
        display: block;
        height: 15em;
        flex-direction: column;
    }
    .wrapper {
        display: block;
        flex-direction: column
    }
    #links {
        display: block;
        padding-top: 20px;
        opacity: 0.9;
    }
    .nav ul a {
        font-family: 'Times New Roman', Times, serif;
        padding-top: 10px;
        font-size: 14px;
    }
    img {
        flex-grow: 1;
    }
}
.wrapper {
    border: none;
    display: flex;
    justify-content: space-evenly;
    border-radius: ;
    color: green;
    box-shadow: 1px 1px;
    max-width: 700px;
    margin: 7% 16%;
    justify-items: center;
}
.left {
    text-align: center;
    display: block;
    background-color: gold;
    border-radius: 30px;
}
#head {
    font-size: 35px;
    text-align: center;
    padding-top: 3em;
}
.content {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    padding-bottom: 40px
}
@media (max-width: 56em) {
    .wrapper {
        display: block;
        height: 580px;
        margin-left: 10%
    }
    input {
        width: 200px;
    }
}
@media (max-width: 42em) {
    input {
         width:
    }
}
.right {
    text-align: center;
}
.head2 {
    padding-top: 30px;
    text-decoration: underline 1px;
}
.guide {
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 20px
}
.submit {
    margin-top: 20px;
    float: left;
    margin-bottom: 40px;
    border-radius: 10px;
    border: none;
    padding: 6px 20px;
    font-weight: bold;
    background-color: gold;
    color: rgb(7, 116, 3);
    font-weight: bold;
}
.submit:hover {
    opacity: 0.8;
}
input {
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
    padding-left: 20px;
    height: 28px;
    min-width: 300px;
    box-shadow: 1px 1px 0 0  green;
    outline: none;
}
.footer {
    display: flex;
    justify-content:center;
    background-color: rgb(16, 18, 41);
}
.footer div {
    width: 300px;
    justify-content: space-between; 
    padding-top: 30px;
    text-align: center;
    padding-bottom: 2rem
}
.col1 h2 {
    color: gold;
    font-size: 25px;
    opacity: 0.8;
}
.col1 p {
    color: white;
    padding-top: 20px;
    font-size: 16px;
    opacity: 0.7;
}
.col2 h3 {
    color: gold;
    opacity: 0.8;
}
.col2 ul {
    list-style-type: none;
    padding-top: 20px;
    opacity: 0.7;
}
.col2 a {
    text-decoration: none;
}
.col2 a{
    font-size: 16px;
    color: white;
}
.col3 h3 {
    color: gold;
    opacity: 0.8;
}
.col3 p {
    color: white;
    opacity: 0.8;
    font-size: 16px;
    padding-top: 20px;
}
.icons span {
    color: gold;
    padding-right: 40px;
}
.icons :hover {
    opacity: 0.5;
}
@media (max-width: 42em) {
    .footer {
        display: block;
        padding-top: 20px;
        height: auto;
    }
    .footer div {
        padding: 20px;
    }
}
@media (max-width: 56em) {
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
}