* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#links {
    list-style-type: none;
    display: flex;
    float: left;
    justify-content: space-between;
}
#links :hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    color: green;
    font-weight: bold
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: gold;
    color: green;
    padding: 20px;
}
.menu {
    height: 20px;
    width: 10px;
     background-color: green
}
@media (max-width: 42em) {
    .nav {
        display: block;
        height: 15em;
        flex-direction: column;
    }
    .wrapper {
        display: block;
        flex-direction: column
    }
    #links {
        display: block;
        padding-top: 20px;
        opacity: 0.9;
    }
    .nav ul a {
        font-family: 'Times New Roman', Times, serif;
        padding-top: 10px;
        font-size: 14px;
    }
    img {
        flex-grow: 2;
        position: ;
    }
}
#h1 {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}
.wrapper {
    display: flex;
    margin: 10%;
    height: 350px;
}
.content {
    
    text-align: center;
    padding: 25px;
    max-width: 500px;
}
.content h1 {
    font-size: 40px;
    justify-content: center;
    padding: 33px;
}
#section {
    color: gold;
}
.content p {
    font-size: 18px;
    opacity: 0.6;
}
.btn {
    background-color: green;
    border-radius: 30px;
    border: none;
    padding: 13px 33px;
    color: white;
    font-weight: bold;
    margin-top: 20px
}
.footer {
    display: flex;
    justify-content:center;
    background-color: rgb(16, 18, 41);
    margin-top: 180px;
}
@media (max-width: 42em){
    .footer {
        margin-top: 32rem;
    }
}
.footer div {
    width: 300px;
    justify-content: space-between; 
    padding-top: 30px;
    text-align: center
}
.col1 h2 {
    color: gold;
    font-size: 25px;
}
.col1 p {
    color: white;
    padding-top: 20px;
    font-size: 16px;
    opacity: 0.7;
}
.col2 h3 {
    color: gold;
    opacity: 0.8;
}
.col2 ul {
    list-style-type: none;
    padding-top: 20px;
    opacity: 0.7;
}
.col2 a{
    font-size: 16px;
    color: white;
}
.col3 h3 {
    color: gold;
    opacity: 0.8;
}
.col3 p {
    color: white;
    opacity: 0.8;
    font-size: 16px;
    padding-top: 20px;
}
.icons span {
    color: rgb(243, 207, 48);
    padding-right: 40px;
}
.icons :hover {
    opacity: 0.5;
}
@media (max-width: 42em) {
    .footer {
        display: block;
        padding-top: 20px;
        height: auto;
    }
    .footer div {
        padding: 20px;

    }
}
@media (max-width: 56em) {
    .footer {
        display: flex;
        flex-wrap: wrap
    }
}